<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Atomic Project By Akib</title>
    <link rel="stylesheet" href="../../resources/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="../../resources/bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
    <script src="../../resources/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../resources/style.css">
</head>
<body>
	<section style="background:#efefe9;">
        <div class="container-fluid">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li class="active">
                     <a href="#home" data-toggle="tab" title="welcome">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span> 
                  </a></li>

                  <li><a href="#profile" data-toggle="tab" title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span> 
           </a>
                 </li>
                 <li><a href="#birthday" data-toggle="tab" title="Birthday">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-gift"></i>
                     </span> </a>
                     </li>

                     <li><a href="#book" data-toggle="tab" title="Book Title">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-book"></i>
                         </span> 
                     </a></li>

                     <li><a href="#city" data-toggle="tab" title="City">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-certificate"></i>
                         </span> </a>
                     </li>

                     <li><a href="#company" data-toggle="tab" title="Company">
                         <span class="round-tabs one">
                              <i class="glyphicon glyphicon-usd"></i>
                         </span> </a>
                     </li>

                     <li><a href="#email" data-toggle="tab" title="Email">
                         <span class="round-tabs two">
                              <i class="glyphicon glyphicon-envelope"></i>
                         </span> </a>
                     </li>

                     <li><a href="#hobbies" data-toggle="tab" title="Hobbies">
                         <span class="round-tabs three">
                              <i class="glyphicon glyphicon-dashboard"></i>
                         </span> </a>
                     </li>
                     
                     </ul></div>

                     <div class="tab-content">
                      <div class="tab-pane fade in active" id="home">

                          <h3 class="head text-center">Welcome to Atomic Project</h3>
                          <p class="narrow text-center">
                              Submitted By : Abdul Kader Akib
                              SEIP : 175166
                              Email : akakib.ctg@gmail.com
                          </p>
                          
                          <p class="text-center">
                    <a href="http://www.facebook.com/akakib.ctg" class="btn btn-success btn-outline-rounded green">Connet Me In Facebook<span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </p>
                      </div>
                      <div class="tab-pane fade" id="profile">
                         <iframe src="http://localhost/Atomic_Project_Akakib/views/SEID175166/ProfilePicture/" frameborder="0" width="100%"></iframe>
                          
                      </div>
                      <div class="tab-pane fade" id="birthday">
                           <iframe src="http://localhost/Atomic_Project_Akakib/views/SEID175166/Birthday/" frameborder="0" width="100%"></iframe>
                      </div>
                      <div class="tab-pane fade" id="book">
                          <iframe src="http://localhost/Atomic_Project_Akakib/views/SEID175166/BookTitle/" frameborder="0" width="100%"></iframe>
                          
                      </div>
                      <div class="tab-pane fade" id="city">
						   <iframe src="http://localhost/Atomic_Project_Akakib/views/SEID175166/City/" frameborder="0" width="100%"></iframe>
					</div>
                      <div class="tab-pane fade" id="company">
						   <iframe src="http://localhost/Atomic_Project_Akakib/views/SEID175166/SummaryofOrganization/" frameborder="0" width="100%"></iframe>
					</div>
                      <div class="tab-pane fade" id="email">
						   <iframe src="http://localhost/Atomic_Project_Akakib/views/SEID175166/Email/" frameborder="0" width="100%"></iframe>
					</div>
                      <div class="tab-pane fade" id="hobbies">
						   <iframe src="http://localhost/Atomic_Project_Akakib/views/SEID175166/Hobbies/" frameborder="0" width="100%"></iframe>
					</div>
				<div class="clearfix"></div>
			</div>

</div>
</div>
</div>
</section>
       <script>
       	$(function(){
			$('a[title]').tooltip();
		});

       </script>            
</body>
</html>