

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Name</th>
            <th>Profile Picture</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>9</td>
                     <td>Akib</td>

                      <td >
                         <img src='Uploads/150692803119247818_244613182699556_3541546016579412341_n.jpg'  style='width:120px;height:100px; border-radius: 10px'>

                      </td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>11</td>
                     <td>Akib </td>

                      <td >
                         <img src='Uploads/1507092135Glossy-Glass-Texture-600x744.jpg'  style='width:120px;height:100px; border-radius: 10px'>

                      </td>


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>12</td>
                     <td>Binary ICT CAre</td>

                      <td >
                         <img src='Uploads/150709215810930081_711213885644507_4919729881736019497_n.jpg'  style='width:120px;height:100px; border-radius: 10px'>

                      </td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>13</td>
                     <td>Emon</td>

                      <td >
                         <img src='Uploads/1507092398Free-Stained-Glass-Texture-600x471.jpg'  style='width:120px;height:100px; border-radius: 10px'>

                      </td>


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>14</td>
                     <td>Limn</td>

                      <td >
                         <img src='Uploads/1507092411Dimpled-Ice-on-Glass-Texture-Colorized-Copper-480x320.jpg'  style='width:120px;height:100px; border-radius: 10px'>

                      </td>


                  </tr>
              